<p>
  <strong>Performer Id:</strong>
  <%= @performers_style.performer_id %>
</p>

<p>
  <strong>Style Id:</strong>
  <%= @performers_style.style_id %>
</p>

<%= link_to  "Edit", edit_performers_style_path(@performers_style) %>
<%= link_to  "Back", performers_styles_path %>